{% extends 'base.html' %}
{% block title %}Detail{% endblock title %}
{% block content %}
<div class="container"></div>
<div class="post-detail">
    <div class="post-user">
        <img src="{{ user.profile.photo.url }}" alt="">
        <p>{{ post.author.username }}</p>
        <i>{{ post.created }}</i>
        <a href="#">
            {% if bookmark %}
                <img class="bookmark-link" data-catid="{{post.id}}" src="/media/icon/bookmark-done.png" alt="">
            {% else %}
                <img class="bookmark-link" data-catid="{{post.id}}" src="/media/icon/bookmark-white.png" alt="">
            {% endif %}
        </a>
    </div>
    <h1>{{ post.title }}</h1>
    {{ post.content | safe }}
    <hr>
    <div class="more-from-author">
        
    </div>

    <div class="more_posts">
        {% if more_posts %}
            <h3>Bài Viết Tương Tự</h3>
            {% for post in more_posts %}
            <div class="list-posts">
                <div class="post-left">
                    <div class="post-user">
                        <img src="{{ user.profile.photo.url }}" alt="">
                        <p>{{ post.author.username }}</p>
                        <i>{{ post.created }}</i>
                    </div>
                    <div class="post-content">
                        <a href="{% url 'article:post_detail' post.id %}">{{ post.title }}</a>
                    </div>
                    <div class="post-tool">
                        <div class="post-tool-tag">
                            {{ post.tag }}
                        </div>
                    </div>
                </div>
                <div class="post-right">
                    <img src="{{ post.thumbnail.url }}" alt="">
                </div>
            </div>

            {% endfor %}
        {% endif %}
    </div>
    <hr>
    <div class="interactive">
        <div class="interactive-bar">
            <div class="interactive-bar-item">
                {% if like %}
                    <img id="like-link" src="/media/icon/heart-done.png" alt="">
                {% else %}
                    <img id="like-link" src="/media/icon/heart.png" alt="">
                {% endif %}
                <p id="number_like">{{ number_like }}</p>
            </div>

            <div class="interactive-bar-item">
                <img src="/media/icon/chat.png" alt="">
                <p>1000</p>
            </div>
            
        </div>
    </div>
    
</div>
<script type="text/javascript">
    $(".bookmark-link").click(function() {
        var id;
        id = $(this).attr("data-catid");
        $.ajax({
            type:"GET",
            url:"{% url 'article:ajax_bookmark' %}",
            data:{post_id:id},
            success: function(response){
                if ($(".bookmark-link").attr("src")!="/media/icon/bookmark-white.png") {
                    $(".bookmark-link").attr("src", "/media/icon/bookmark-white.png")
                } else {
                    $(".bookmark-link").attr("src", "/media/icon/bookmark-done.png")
                }
                
            },
            
        })
    })

    $("#like-link").click(function() {
        var id;
        id = $(this).attr("data-catid");
        $.ajax({
            type:"GET",
            url:"{% url 'article:ajax_like' %}",
            data:{post_id:{{post.id}}},
            success: function(response){
                if ($("#like-link").attr("src") != "/media/icon/heart.png") {
                    $("#like-link").attr("src", "/media/icon/heart.png")
                }
                else {
                    $("#like-link").attr("src", "/media/icon/heart-done.png")
                }
                $('#number_like').text(response.number_like)

            },
            
        })
    })
</script>


{% endblock content %}

