{% extends 'base.html' %}
{% block title %}Home Page{% endblock title %}
{% block content %}


{% if tags %}
    <div class="list_tag">
    {% for tag in tags %}
        <div class="tag_item">
            <a href="{% url 'article:home_with_tag' tag.name %}">{{ tag.name }}</a>
        </div>
    {% endfor %}

    </div>

{% endif %}

<form action="{% url 'article:add_tag' %}" method="post">
    <input type="text" name="tag" id="">
    <input type="submit" value="Add Tag">
    {% csrf_token %}
</form>


{% for post in posts %}
    <div class="post_item">
        <div class="post_item_user">
            <div class="post_item_user_avatar">
                <img src="{{ post.author.profile.photo.url }}" alt="">
            </div>
            <div class="post_item_user_name">
                <p>{{ post.author.username }}</p>
            </div>
            <div class="post_item_user_created">
                <p>{{ post.created }}</p>
            </div>
        </div>
        <div class="post_item_content_title">
            <h3><a href="{% url 'article:post_detail' post.id %}">{{ post.title }}</a></h3>
            {% comment %} <a href="{% url 'article:home_with_tag' tag.name %}">{{ tag.name }}</a> {% endcomment %}
        </div>
        <div class="post_item_thumbnail">
            <img src="{{ post.thumbnail.url }}" alt="">
        </div>
    </div>
{% endfor %}


{% endblock content %}