{% extends 'base.html' %}
{% block title %}Home Page{% endblock title %}
{% block content %}
<div class="container">
    <div class="content">
        {% if user.is_authenticated %}
            <div class="list-tags">
                <a href="{% url 'article:tag_manager' %}">
                    <img src="/media/icon/add.png" alt="">
                </a>
                {% for tag in tags %}
                    <div class="tag-item">
                        <a href="{% url 'article:home_with_tag' tag.name %}">{{tag.name}}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
                
        {% for post in posts %}
            <div class="list-posts">
                <div class="post-left">
                    <div class="post-user">
                        <img src="{{ user.profile.photo.url }}" alt="">
                        <p>{{ post.author.username }}</p>
                        <i>{{ post.created }}</i>
                    </div>
                    <div class="post-content">
                        <a href="{% url 'article:post_detail' post.id %}">{{ post.title }}</a>
                    </div>
                    <div class="post-tool">
                        <div class="post-tool-tag">
                            {{ post.tag }}
                        </div>
                    </div>
                </div>
                <div class="post-right">
                    <img src="{{ post.thumbnail.url }}" alt="">
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">«</a>
            {% endif %}
                <a href="#">{{ posts.number }}</a>
            {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">»</a>
            {% endif %}
        </div>
    </div>

    <div class="support">
        <div class="random_tag">
            <h3>Gợi Ý Chủ Đề</h3>
            {% for tag in random_tags %}
                <div class="post-tool-tag">
                    {{ tag.name }}
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="top_user">
            <h3>Người Dùng Nổi Bật</h3>
            {% for user in users %}
            <div class="post-user">
                <img src="{{ user.profile.photo.url }}" alt="">
                <p>{{ user.username }}</p>
  
            </div>
            {% endfor %}
        </div>
        
    </div>



</div>


{% endblock content %}
    