{% extends 'base.html' %}
{% block title %}Chủ đề{% endblock title %}
{% block content %}

<h1>Danh Sách Chủ Đề Đang Theo Dõi</h1>
<form action="{% url 'article:add_tag' %}" method="post">
    <input type="text" name="tag" id="">
    <input type="submit" value="Add Tag" id="submit_add_tag">
    {% csrf_token %}
</form>
    {% for tag in tags %}
        <div class="tag_manage">
            <p>{{ tag.name }}</p>
            <form action="{% url 'article:unfollow_tag' tag.name %}" method="get">
                <input type="submit" value="Huỷ Theo Dõi">
            </form>
        </div>
    {% endfor %}


<h1>Danh Sách Chủ Đề Có Sẵn</h1>
{% for  tag in new_tags %}
        {% if tag not in tags %}
            <p>{{ tag.name }}</p>
        {% endif %}

{% endfor %}
    
{% endblock content %}